header {
	width: 100%;
	text-align: center;
}

#logo {
	max-width: 175px;
}
body {
	font-family: Montserrat, Arial;
}

nav {
	width: 100%;
	height: 50px;
	background-color: gray;
	/*text-align: center;*/
}

ul.navi,li,nav, section, footer {
	margin: 0;
	padding: 0;
}

ul.navi {
	/*vertical-align: middle;*/
	padding-top: 16px;
	text-align: center;
}

ul.navi li {
	display: inline;
	list-style: none;
	padding-left: 5px;
	padding-right: 5px;

}

.columns {
	background-color: gray;
	width: 32%;
	/*float: left;*/
}

#leftcolumn, #middlecolumn, #rightcolumn {
	float: left;
}

div#ef {
	background-color: lightgray;
	background-image: url("https://i.pinimg.com/originals/3a/4f/4d/3a4f4d321fe100c83cb3f46c6e8224d5.png"), 
	url("https://az598155.vo.msecnd.net/wp-uploads/2015/10/Apple_Hero_CHina_Store.jpg");
	background-size: 15%, auto auto;
	background-repeat: no-repeat;
	background-position: top, center;
	background-rotat
	height: 350px;
}

div#ef p {
	padding: 16px;
}

#content{
	width: 100%;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 1em;
}

#middlecolumn {
	margin-left: 2%;
	margin-right: 2%;
}

footer {
	/*margin-top: 1em;*/
	width: 100%;
	background-color: gray;
	text-align: center;
	vertical-align: middle;
}

footer p {
	padding: 1em;
}

.columns {
	background-color: lightgray;
}

div.columns * {
	text-align: left;
}

div.columns > div {
	padding-left: 5px;
	padding-right: 5px;
}

img.leftcolumn {
	width: 100%;
}

/*footer {
	border: 1px dashed yellow;
}

#logo {
	display: block;
    margin-left: auto;
    margin-right: auto;
   text-align: center;
} */

